@font-face {
    font-family:'Arvo-Bold';
    src: url('Fonts/Arvo-Bold.ttf');
    font-family: 'Arvo-Regular';
    src: url('Fonts/Arvo-Regular.ttf');
    font-family: 'anticdidone-regular-webfont';
    src: url('Fonts/anticdidone-regular-webfont.woff') format('woff');
    font-family:'AlexBrush-Regular';
    src:url('AlexBrush-Regular.ttf');

}


/* configuration de la page CV"*/

#bloc_page {
    width: 1240px;
    height:600px;
    background-image: url('/images/Fondboules.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    border:1px black solid;
}


/*Conteneur  box : Bannière box LogoLaposte, logoSimplon, TitreBannière*/

#bannière {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
    background-color:  rgba(255, 255, 255, 0.911);
    border-radius: 1em;
    border:rgba(19, 20, 20, 0.822) 1px inset;
}

/*configuration du titre de la bannière et des logos*/

.titreBannière {
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color:black;
}

.logoLaposte {
    padding-left: 10px;
}

.logoSimplon{
    padding-right: 10px;
}    

/* Conteneur box :  Nom, Les 5C */

#Compétences5C {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 40px 0px 25px 0px;
}

    /* configuration box: Nom*/

    .Nom {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
    font-family: 'Arvo-Bold',Verdana, Geneva, Tahoma, sans-serif;

}

    /* configuration box: 5C */

.Les5C{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 450px;
    padding-right: 10px;
    padding-left: 10px;
   
}

    /* configuration box: titre Les 5C */

.sigle5C{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
}


/* conteneurs box: adresse, Coopération, Créativité */

#DomicileCompétences {
    display: flex;
    justify-content: left;
    align-items: center;
}

    /* configuration box: adresse */

.domicile {
    flex-basis: 13%;
    font-size: 12px;
    margin-top: -95px;
    margin-left: 10px;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    text-align:left;
}

    /* configuration box: Coopération */

.Coopération {
    flex-basis: 120px;
    font-size: 10px;
    margin: -40px 0px 0px 130px;
    padding: 5px 20px 5px 20px;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

    /* configuration box: Créativité */

.Créativité {
    flex-basis: 120px;
    font-size: 10px;
    margin: -10px 0px 10px 330px;
    padding: 5px 20px 5px 20px;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

/* configuration box : liens profil, esprit critique, photo, communication, simplon, concrétisation */

#Compétences5csuite {
    display: flex;
    flex-wrap: wrap;
}

/* configuration de la box Lien profil*/

.Liens {
    flex-basis: 15%;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 12px;
}

.TitreLiens {
    text-decoration-line: underline;
    color: black;
    font-family: 'Arvo-Bold',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

    /* configuration box: esprit critique */

.Espritcritique {
    flex-basis: 120px;
    font-size: 10px;
    margin-left: 100px;
    margin-bottom: 90px;
    margin-top: 100px;
    padding: 5px 20px 5px 20px;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

    /* configuration box: photo */

.photo {
    flex-basis: 15%;
    margin:-30px 0px 0px 120px;
}

    /* configuration box: communication */

.Communication {
    flex-basis: 120px;
    font-size: 10px;
    margin-left: 25px;
    margin-top: 110px;
    padding: 5px 20px 5px 20px;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

    /* configuration box: simplon */

.Simplon{ 
    flex-basis: 18%;
    font-size: 11px;
    margin-top: -100px;
    margin-left: 35px;
    text-align: left;
    color:black;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
}

.TitreSimplon {
    font-size: 14px;
    color: black;
    font-family: 'Arvo-Bold',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

.listeSimplon {
    font-size: 15px;
    text-justify: auto;
}

    /* configuration box: Concrétisation */

.Concrétisation {
    flex-basis: 120px;
    font-size: 10px;
    width: 40px;
    margin-left: 550px;
    margin-top: -110px;
    padding: 5px 25px 5px 20px;
    font-family:'anticdidone-regular-webfont',Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}



/* Conteneurs box: auto-apprentissage, logos */


#Autoapprentissage {
    display: flex;
    font-size: 20px;
    color: black;
    font-family: 'Arvo-Bold',Verdana, Geneva, Tahoma, sans-serif;
}

    /*configuration box: auto-apprentissage */

.apprentissage {
    flex-basis: 340px;
    margin-left: 330px;
    margin-top: -70px;
    margin-bottom: 70px;    
}

    /*configuration des box logos */

.logoEclipse {
    margin: -75px 20px 0px 20px;
}

.logoVS {
    margin-top: -75px;
}


/* configuration des listes */

ul#listeSimplon {
    font-size: 16px;
}


ul {
    list-style: none;
    line-height: 25px;
    margin: 0px;
    padding: 0px;
}

.C {
    font-size: 25px;
    color: black;
}

/*configuration des liens */

a:hover {
    color:red;
}

a#Photo {
    display:block;
    width:100px;
    height: 100px;
    background-image: url('/images/PhotoOlivier.png');
}

a#Photo:hover {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('/images/ChouetteBlanche.jpg');
}

a#logoHTMLCSS {
    margin-top: -75px;
    margin-bottom: 80px;
    display: block;
    width: 70px;
    height: 35px;
    background-image: url('/images/logo-html5-css3.png');
}

a#logoHTMLCSS:hover {
    display:block;
    width: 70px;
    height: 35px;
    background-image:url('/images/logoOpenclassroom2.jpg') ;
}

a#logoJS {
    margin-top: -75px;
    margin-left: 20px;
    display:block;
    width: 35px;
    height: 35px;
    background-image: url('/images/js-logo.png');
}

a#logoJS:hover {
    display:block;
    width: 35px;
    height: 35px;
    background-image: url('/images/logoMDN.png');

}

a#lien5C:hover {
    color:white;
}

a#lien5C:link {
    text-decoration-line: none;
}

a#lien5C {
    color: black;
}
 
